<h1>Stores#show</h1>

<%= link_to "CHECKOUT", current_order_path %>

<%= @store.image %>
<h2> <%= @store.name %> </h2>
<p> <%= @store.address %> </p>
<p> <%= @store.city %> </p>
<p> <%= @store.postcode %> </p>
<p> <%= @store.country %> </p>

<br><br>

<% @store.items.each do |item| %>
  <h4> <%= link_to item.name, new_store_item_order_line_path(@store, item) %> - $<%= item.price.to_f %> </h4>
<% end %>






