<div class="container">

</div>

<div class="container">
  <div class="store_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @store.image %>');">
    <div>
      <h1><%= @store.name %></h1>
      <p><%= @store.address %></p>
    </div>
  </div>
</div>

<div class="container" >
  <div class="underline">
    <div class="container_show">

      <div class= "title_format">
        <h2>DRINKS</h2>
      </div>

          <div class="btn checkout_button_border checkout_button_text button_format no-margin ">
              <%= link_to "CART", store_current_order_path(@store) %>
          </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container">
    <div class="row">
      <% @store.items.each do |item| %>
      <div class= "col-xs-12 col-md-6">
        <div class="item">
          <%= link_to item.name, new_store_item_order_line_path(@store, item), { class: "item-link", "data-target": "#myModal", "data-toggle":"modal"} %>
        </div>
        <div class="price">
          $<%= number_with_precision item.price, :precision => 2 %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<%= render 'shared/modalform' %>





<!--   <div class="col-xs-6">
    </div>
  -->
