<div class="container">
  <div class="store_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @store.image %>');">

      <div>
        <h1><%= @store.name %></h1>
        <p><%= @store.address %></p>
    </div>

  </div>
</div>



<div class="container">
  <div class="row">
    <% @store.items.each do |item| %>
    <div class="col-md-6" "col-xs-12">
      <div class="item_listing"> <p> <%= link_to item.name, new_store_item_order_line_path(@store, item) %> - $<%= item.price.to_f %> </p></div>
    </div>
    <% end %>
  </div>
</div>




<%= link_to "CHECKOUT", current_order_path %>

<br><br>








<!--   <div class="col-xs-6">
    </div>
 -->
