<div class="">
  <div class="container">
    <div class="row">
      <div class="col-md-7">

        <!--             THIS HERE IS A TITLE       -->

        <section class="">
          <div class="underline checkout_page_top_margin">
            <div class="checkout_title">
              <h2>1. Enter Delivery Address</h2>
            </div>
          </div>
        </section>

        <!-- options_from_collection_for_select(current_user.addresses, "id", "full_name") -->


        <!--             SELECT ADDRESS FORM STARTS FROM HERE       -->


        <div class="dropdown address_add_format">
          <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <div class=""> <%= link_to "Add a new address", "#", { class: "item-link", "data-target": "#addressModal", "data-toggle":"modal"} %> <span class="caret"></span></div>

          </a>

          <ul class="dropdown-menu add_address_form_format address_form_margin" aria-labelledby="dLabel"><div class="new_order_line address_form_margin width_200">
            <%= simple_form_for [@store, Address.new] do |f| %>
            <%= f.input :number %>
            <%= f.input :street_name %>
            <%= f.input :city %>
            <%= f.input :zip_code %> </div>
            <%#= f.input :store_id, as: :hidden ,input_html: {store_id: params[:store_id]} %>
            <%= f.button :submit, class: 'btn-moses address_form_margin' %>
            <% end %>
          </ul>
        </div>

        <div class="checkout_title">


          <%= simple_form_for [@store, @order], html: { method: "patch", id: "pay-form" } do |f| %>
            <%= f.input :address_id, validates: { presence: true }, collection: current_user.addresses.order("addresses.created_at desc"), label_method: :full_name, value_method: :id, id: 'order_address_id',  :prompt => 'Select an address', selected: current_user.addresses.last %>




            <br>


          <!--             CUSTOM STRIPE BUTTON  AND STRIPE FORM STARTS FROM HERE       -->

          <%#= form_tag store_order_payments_path(@store, @order) do %>

            <!-- <form action= "store_order_path(@store, @order)" method="POST">

              <button id="customButton" class="new_stripe_button">
                <span style="display: block; color: black; font-size: 14px; font-weight: bold; float: left; background: #49CCC1;">
                  Pay now
                </span>
              </button> -->




               <!--             ORIGINAL STRIPE BUTTON STARTS FROM HERE       -->
              <!-- <link rel="stylesheet" href="https://checkout.stripe.com/v3/checkout/button.css"></link> -->
              <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_Rz7MUpvMbX8G8cZ6AyYFRP2G"
              data-amount=""
              data-name="DrincMe"
              data-description="Payment for drinks"
              data-image="/128x128.png"
              data-locale="auto">

              </script> -->
            <!-- </form> -->
          <%# end %>
        </div>

      <br>
      <br>
      <br>
      <br>






      <!--              CREATE PAYMENT SECTION STARTS FROM HERE      -->

      <section id="payment-info" class="checkout_format">
          <!-- <div class="underline">
            <h2>2. Enter Payment</h2>
          </div>
        -->
      </section>
    </div>


    <!--              ORDER SUMMARY STARTS FROM HERE       -->


    <div class="col-md-5 container_checkout">

      <section id="order-summary" data-subtotal="17.00" class:"">

        <div class="checkout_format" >
          <div class="underline checkout_page_top_margin">
            <div class="checkout_title">
              <h2>2. Order Summary</h2>
            </div>
          </div>
          <table class:"">
            <tbody><tr class="checkout_item_written">
              <th>Subtotal</th>
              <td>$ <%= number_with_precision @subtotal, :precision => 2 %></td>
            </tr>
            <tr class="tax-and-fees" style="display:none;">
              <th>Tax &amp; Fees</th>
              <td>TBD</td>
            </tr>
            <tr class="checkout_item_written">
              <th>Delivery</th>
              <td><span class="blitz"> $ <%= @delivery_fee %>.00</span></td>
            </tr>
            <tr class="checkout_item_written">
              <th>Service Fee <span class="small_percentage_format">(9.00%)</span></th>
              <td>$ <%= number_with_precision @service_fee, :precision => 2 %> </td>
            </tr>
            <tr class="discounts" style="display:none;">
              <th>Discounts</th>
              <td>TBD</td>
            </tr>

            <tr class="checkout_item_written underline">
              <th class="estimated-label">Estimated Total</th>
              <td>
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="Your card may be temporarily authorized for more than your final order total. This will be adjusted when your order is complete." class="icon-info fee-breakdown" data-original-title="" title=""></a>
                <span class="value"> $ <%= number_with_precision @finaltotal, :precision => 2 %></span>
              </td>
            </tr>
          </tbody></table>

          <!--              CHECKOUT FUNCTION PART STARTS FROM HERE        -->
          <br>





      </div>

    </section>


  </div>
    <button id='placeholder_button' class="btn btn-primary new_stripe_button disabled hidden_button_margin hidden">Get It Now</button>
    <%= f.button :submit, id: "customButton", class: "btn btn-primary new_stripe_button", value: "Get It Now"%>  <!-- HIDDEN FORM BUTTON -->
  <% end %>

</div>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="add_item_format">
  <h2>Add Address</h2>
  <%= simple_form_for [@store, Address.new] do |f| %>
  <%= f.input :number %>
  <%= f.input :street_name %>
  <%= f.input :city %>
  <%= f.input :zip_code %>
  <%#= f.input :store_id, as: :hidden ,input_html: {store_id: params[:store_id]} %>
  <%= f.button :submit, class: 'btn-moses address_form_margin' %>
  <% end %>
</div>
      </div>
    </div>
  </div>
</div>


<!-- THIS CODE BELOW IS FOR STRIPE FUNCTIONALITY  -->

<% content_for :after_js do %>

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
    var handler = StripeCheckout.configure({
      key: 'pk_test_Rz7MUpvMbX8G8cZ6AyYFRP2G',
      image: 'https://stripe.com/img/open-graph/logo.png?2',
      locale: 'auto',
      token: function(token) {


       var form = $("#pay-form");
       form.append($('<input type="hidden" name="stripeToken" />').val(token.id));

        form.get(0).submit();
      }
    });

    $('#customButton').on('click', function(e) {
      // Open Checkout with further options
      handler.open({
        name: 'Drincapp',
        description: 'Drink Delivery',
        amount: '@finaltotal'
      });
      e.preventDefault();
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
      handler.close();
    });
  </script>

<!-- THIS CODE BELOW IS JS TO CHANGE BUTTON WHEN ORDER IS NOT SELECTED  -->

<script>
  $(document).ready(function(){
    var addr = $(" #order_address_id option:selected").text();
    if (addr == 'Select an address') {
      $('#placeholder_button').removeClass('hidden');
      $('#customButton').addClass('hidden');
    }


    $('#order_address_id').change(function(){
      var addr = $(" #order_address_id option:selected").text();
      if (addr == 'Select an address') {
        $('#placeholder_button').removeClass('hidden');
        $('#customButton').addClass('hidden');
      }else{
        $('#placeholder_button').addClass('hidden');
        $('#customButton').removeClass('hidden');
      }
    });
  });
</script>

<% end %>

