
<div class="content">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7">

        <!--             CREATE ADDRESS SECTION STARTS FROM HERE       -->

        <section id="address-book" class="checkout_format">
          <div class="underline">
            <h3>1. Enter Delivery Address</h3>
          </div>
        </section>



<!-- options_from_collection_for_select(current_user.addresses, "id", "full_name") -->


        <%= simple_form_for [@store, @order], method: :get do |f| %>
          <%= f.input :address_id, collection: current_user.addresses, label_method: :full_name, value_method: :id %>


          <div class="dropdown checkout_format">
          <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Add a new address
            <span class="caret"></span>
          </a>

        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <%= simple_form_for [@store, Address.new] do |f| %>
            <%= f.input :street_name %>
            <%= f.input :number %>
            <%= f.input :city %>
            <%= f.input :zip_code %>
            <%#= f.input :store_id, as: :hidden ,input_html: {store_id: params[:store_id]} %>
            <%= f.button :submit %>
          <% end %>
        </ul>




        </div>


        <!--              CREATE PAYMENT SECTION STARTS FROM HERE      -->

        <section id="payment-info" class="checkout_format">
          <!-- <div class="underline">
            <h2>2. Enter Payment</h2>
          </div>
 -->
        </section>
      </div>


      <!--              ORDER SUMMARY STARTS FROM HERE       -->


      <div class="col-md-5 container_checkout">

        <section id="order-summary" data-subtotal="17.00" class:"">

          <div class="checkout_format" >
          <div class="underline">
          <h3>2. Order Summary</h3>
          </div>
          <table class:"">
            <tbody><tr class="subtotal">
              <th>Subtotal</th>
              <td>$ <%= @subtotal.round(2) %></td>
            </tr>
            <tr class="service">
              <th>Service Fee <span>(9.00%)</span></th>
              <td>$ <%= @service_fee.round(2) %> </td>
            </tr>
            <tr class="tax-and-fees" style="display:none;">
              <th>Tax &amp; Fees</th>
              <td>TBD</td>
            </tr>
            <tr class="delivery underline">
              <th>Delivery</th>
              <td><span class="blitz"></span>TBD</td>
            </tr>
            <tr class="discounts" style="display:none;">
              <th>Discounts</th>
              <td>TBD</td>
            </tr>

            <tr class="total underline">
              <th class="estimated-label">Estimated Total</th>
              <td>
                <a href="#" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" data-content="Your card may be temporarily authorized for more than your final order total. This will be adjusted when your order is complete." class="icon-info fee-breakdown" data-original-title="" title=""></a>
                <span class="value"> $ <%= @total.round(2)%></span>
              </td>
            </tr>
          </tbody></table>

          <!--              CHECKOUT FUNCTION PART STARTS FROM HERE        -->
          <br>


          <%= f.button :submit, class: "btn btn-primary", value: "Get It Now"%>
          <% end %>

        </div>

        </section>


      </div>
    </div>
  </div>
</div>

<script>

  document.ready function(){
    $(".get-it-now").on("click"){

    }
  }
</script>
