<h1>Orders#index</h1>


<div class="content">
  <div class="container inner">
    <section id="cart" data-place-uuid="3ae92a94-d3b9-4656-82ec-e6d9838c274a">
      <h1>Shopping Cart</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Items</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>

        <% @order.order_lines.each do |order_line| %>

        <tbody>
          <tr class="item" data-uuid="6079bb88-dc50-42bb-afe7-dee2924a7bd6">
            <td>
            <h2> <%= order_line.item.name %> </h2>
              <ul class="item-summary">
                Special Instruction: <%= order_line.special_instruction %>
              </ul>
              <ul class="item-links text-align">
                <!-- <li><a class="edit">Modify</a></li> -->
                <li><%= link_to "Remove", store_item_order_line_path(order_line.item.store, order_line.item, order_line), method: :delete %> </li>
              </ul>
            </td>
            <td><span class="unit"> $ <%= order_line.item.price %> </span></td>
            <td>
              <input class="quantity" type="text" value="<%= order_line.quantity %>">
            </td>
            <td><span class="total"> $ <%= (order_line.item.price) * (order_line.quantity) %> </span>
            </td>
          </tr>
        </tbody>

        <% end %>

        <tfoot>
          <tr class="summary">
            <td class="disclaimer" colspan="2">
              Prices listed are estimates and may vary.
              Actual price will be charged at pickup.
            </td>
            <td class="total" colspan="2">
              Estimated Subtotal: $ <%= @subtotal %>
            </td>
          </tr>
          <tr class="footer">
            <td class="continue">
              <%= link_to "Continue Shopping", :back %>
            </td>
            <td class="checkout" colspan="3">
              <%= link_to "Checkout", store_checkout_path(@store)  %>
            </td>
          </tr>
        </tfoot>

      </table>
    </section>
  </div>
</div>
