


<div class="modal-price add_item_format">
  <h3> <%= @item.name %> </h3>
  <h4> $ <span><%= @item.price %></span>.00 </h4>
</div>


<div class="add_item_format">
  <%= simple_form_for [@store, @item, @orderline], remote: true do |f| %>
  <%= f.input :size, collection: @size,  include_blank: false, :input_html => { :id => "dropdown-prices" }, method: :patch %>
  <%= f.input :quantity %>
  <%= f.input :special_instruction %>
  <%= f.button :submit, class: 'btn-moses', value: 'Add Item' %>
  <% end %>
</div>





<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
$(document).ready(function(){

  $('#dropdown-prices').change(function(){

    var small = $(".store_item").data('small');

    var medium = $(".store_item").data('medium');

    var large = $(".store_item").data('large');

    var size = this.val();

    $.ajax({
       url: '/stores/:store_id/items/:item_id/order_lines/:id',
       type: "PATCH",
       success: function(data) {
         // Take this new data and update the page
         if (size == "Medium") {
           $('.modal-price span').html( medium );
         }
         if (size == "Large") {
           $('.modal-price span').html( large );
         }
         if (size == "Small") {
           $('.modal-price span').html( small );
         }
       }
    });



  });

});
</script>











