

<div class="add_item_format modal-price">
  <h3> <%= @item.name %> </h3>
  <h5> $ <%= number_with_precision @item.price, :precision => 2 %> </h5>
</div>

<div class="modal">
  <h5> $ <%= number_with_precision @item.price, :precision => 2 %> </h5>
</div>


<div class="add_item_format">
  <%= simple_form_for [@store, @item, @orderline] do |f| %>
  <%= f.input :size, collection: @size, class:"dropdown-prices" %>
  <%= f.input :quantity %>
  <%= f.input :special_instruction %>
  <%= f.button :submit, class: 'btn-moses', value: 'Add Item' %>
  <% end %>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>

$(document).ready(function(){

  $('.store_item').onclick = function() {

  var small = this.data('small');

  var medium = this.data('medium');

  var large = this.data('large');

  $('.modal-price h5').html( small );

  };

});
</script>

<script>
  $('.dropdown-prices').on("change", function() {
    var size;
    size = this.val();
    if (size === "Medium") {
      '.modal-price'.html(price_medium);
    }
    if (size === "Large") {
      '.modal-price'.html(price_large);
    }
    if (size === "Small") {
      return '.modal-price'.html(price_small);
    }
  });
</script>












