

<div class="add_item_format">

  <h3> <%= @item.name %> </h3>

</div>

<div class="modal-price">

  <h5> $ <%= number_with_precision @item.price, :precision => 2 %> </h5>

</div>


<div class="add_item_format">
  <%= simple_form_for [@store, @item, @orderline] do |f| %>
  <%= f.input :size, collection: @size, include_blank: false, :input_html => { :id => "dropdown-prices" }, remote: true %>
  <%= f.input :quantity %>
  <%= f.input :special_instruction %>
  <%= f.button :submit, class: 'btn-moses', value: 'Add Item' %>
  <% end %>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>

$(document).ready(function(){

  $('.store_item').click(function(){

  var small = $(".store_item").data('small');

  var medium = $(".store_item").data('medium');

  var large = $(".store_item").data('large');

  $('.modal-price h5').html( small );

  });

});
</script>

<script>
$(document).ready(function(){

  $('#dropdown-prices').change(function(){

    var small = $(".store_item").data('small');

    var medium = $(".store_item").data('medium');

    var large = $(".store_item").data('large');

    var size = this.val();

    if (size == "Medium") {
      $('.modal-price h5').html( medium );
    }
    if (size == "Large") {
      $('.modal-price h5').html( large );
    }
    if (size == "Small") {
      $('.modal-price h5').html( small );
    }

  });

});
</script>











